.newsletter {
    /* border: 3px solid tomato; */
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 100px;
    background: linear-gradient(180deg, #FDE1FF 0%, #E1FFEA22 60%);
    gap: 30PX;
    margin-bottom: 100px;
}

.newsletter h1 {
    color: #454545;
    font-size: 2.5rem;
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 1.25rem;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 55%;
    height: 40px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 1rem;
}

.newsletter div button {
    width: 150px;
    height: 40px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

