.new-collections {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-bottom: 100px;
}
.new-collections h1 {
    color: #171717;
    font-size: 2rem;
    font-weight: 600;
}

.new-collections hr {
    width: 150px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}
/* .collections {
    margin-top: 1.5rem;
    display: flex;
    gap: 30px;
    border: 2px solid red;
} */
.collections {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}
